name: Build Firmware Using Offline Docker Image

on:
  workflow_dispatch:

jobs:
  build-firmware:
    runs-on: ubuntu-latest

    steps:
      # -----------------------------
      # 1. Checkout repository
      # -----------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -----------------------------
      # 2. Log in to GHCR (если образ приватный)
      # -----------------------------
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # -----------------------------
      # 3. Build firmware inside offline container
      # -----------------------------
      - name: Build firmware in container (offline)
        run: |
          docker run --rm \
            -u root \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            ghcr.io/dmitry-akva/esp8266-platformio:offline-latest \
            bash -lc "
              set -euo pipefail
      
              echo 'Running offline firmware build...'
              pio run -v -j 4 --offline
            "
      
                  "

      # -----------------------------
      # 4. Upload firmware binaries
      # -----------------------------
      - name: Upload firmware binaries
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .pio/build/**/*.bin
