name: Build Firmware (Offline Docker)

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/**'
      - 'platformio.ini'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code (sparse)
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          path: project
          sparse-checkout: |
            src/
            platformio.ini

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build firmware inside offline container
        run: docker run --rm -v "${{ github.workspace }}/project:/workspace" -w /workspace ghcr.io/dmitry-akva/esp8266-platformio:offline pio run -e nodemcuv2 --offline -v -j 4

      - name: Upload firmware binary
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .pio/build/nodemcuv2/firmware.bin
