name: Build Firmware (Offline)

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/**'
      - 'platformio.ini'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build firmware inside offline container
        run: |
          docker run --rm \
            ghcr.io/dmitry-akva/esp8266-platformio:offline-latest \
            pio run -v -j 4

      - name: Upload firmware binary
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .pio/build/nodemcuv2/firmware.bin
