name: Build Docker + ESP8266 Firmware

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      # Сборка Docker-образа
      - name: Build Docker image
        run: docker build -t esp8266-platformio:latest .

      # Компиляция прошивки внутри контейнера
      - name: Build firmware
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            esp8266-platformio:latest \
            bash -c "pio run -j 4"

      # Загрузка прошивки как артефакт
      - name: Upload Firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .pio/build/nodemcuv2/firmware.bin
