name: Refresh Offline Docker Image

on:
  workflow_dispatch:

jobs:
  build-offline-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build offline Docker image with preloaded libraries
        run: |
          IMAGE=ghcr.io/dmitry-akva/esp8266-platformio
          TAG_SHA=${GITHUB_SHA::7}
          docker build -t $IMAGE:offline-$TAG_SHA -t $IMAGE:offline-latest .
          docker push $IMAGE:offline-$TAG_SHA
          docker push $IMAGE:offline-latest
