name: Build Firmware (Fully Offline)

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/**'
      - 'platformio.ini'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Чекаутим только код и ini
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          path: project
          sparse-checkout: |
            src/
            platformio.ini

      # 2️⃣ Логинимся в GHCR
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # 3️⃣ Запускаем offline компиляцию
      - run: |
          docker run --rm \
            -v "${{ github.workspace }}/project:/workspace" \
            -w /workspace \
            ghcr.io/dmitry-akva/esp8266-platformio:offline \
            pio run -v -j 4 --offline

      # 4️⃣ Загружаем бинарник как артефакт
      - uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .pio/build/nodemcuv2/firmware.bin
