name: Build Offline Docker Image

on:
  workflow_dispatch:   # запуск вручную
  push:
    paths:
      - 'src/**'
      - 'lib/**'
 
      - 'Dockerfile'

jobs:
  build-docker:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Клонируем репозиторий с кодом и библиотеками
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Логинимся в GitHub Container Registry
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # 3️⃣ Сборка Docker образа с библиотеками внутри и кэшем PlatformIO
      - name: Build Docker image (offline)
        run: |
          docker build \
            --build-arg PIO_CACHE_DIR=/root/.platformio \
            -t ghcr.io/dmitry-akva/esp8266-platformio:offline .

      # 4️⃣ Публикация Docker образа в GHCR
      - name: Push Docker image to GHCR
        run: docker push ghcr.io/dmitry-akva/esp8266-platformio:offline
