name: Self-Hosted Runner Test

on:
  workflow_dispatch:  # ручной запуск

jobs:
  test-runner:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show runner info
        run: |
          echo "This workflow runs on a self-hosted runner"
          uname -a
          docker --version
          docker images
